@import "variables";

main {
    legend {
        background: $hero-orange;
        border-radius: 10px;
        color: white;
        padding: 12px;
    }
    
    fieldset {
        background: $hero-ivory;
        border: 10px solid $hero-navy;
        border-radius: 20px;
        margin-bottom: 10px;
        width: 720px;
    }
    
    div {
        margin: 10px;
    }
    
    label {
        display: inline-block;
        text-align: right;
        vertical-align: top;
        width: 200px;
    }
    
    input[type=submit] {
        background: $hero-orange;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        padding: 12px;
        border: 0;
        box-shadow: 2px 2px 2px gray;
        transition: box-shadow 0.15s, transform 0.15s;
        touch-action: manipulation;
        will-change: box-shadow, transform;
    }
    input[type=submit]:hover {
        box-shadow: 4px 4px 4px gray;
        transform: translateX(-2px) translateY(-2px);
    }
    input[type=submit]:active {
        box-shadow: 3px 3px 3px rgb(0, 75, 73) inset;
        transform: translateX(2px) translateY(2px);
    }
}
