@import "variables";

* {
    margin: 0;
    font-family: 'Verdana', sans-serif;
}

h1, h2 {
    color: $hero-navy;
}

h4 {
    color: $hero-orange;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: $hero-navy;
}

header {
    background-color: white;
}

footer {
    background-color: $hero-ivory;
}