@import "variables";

* {
    margin: 0;
    font-family: 'Verdana', sans-serif;
}

h1, h2 {
    color: $hero-navy;
}

h4 {
    color: $hero-orange;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}

p {
    color: $hero-navy;
}

header {
    padding: 1em 5vw;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin-right: 25%;
    }

    ul {
        width: 20em;
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            padding: 0.5vh 0;
            text-align: center;
            &:nth-child(1) {
                border-bottom: 3px solid $hero-orange;
            }
        }
    }
}

footer {
    background-color: $hero-ivory;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
    column-gap: 3em;
    padding: 3em 15vw;
    @media only screen and (min-width: 1250px) {
        justify-content: space-between;
    }
    @media only screen and (max-width: 1250px) {
        justify-content: flex-start;
    }
    @media only screen and (max-width: 700px) {
        flex-direction: column;
    }

    h2 {
        padding-bottom: 1em;
    }

    h4 {
        font-size: 10px;
        padding-bottom: 1em;
    }

    section {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:not(:first-child)>div {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            column-gap: 3em;
            row-gap: 1em;
        }

        &:nth-child(2)>div {
            @media only screen and (max-width: 700px) {
                flex-direction: column;
            }
        }

        img {
            height: 20px;
        }
    }

}