@import "variables";

.hero {
    background-color: $hero-ivory;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 5vw;
    div {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
        margin: auto 0;
        &:nth-child(1) {
            width: 48vw;
        }
        &:nth-child(2) {
            width: 35vw;
        }
        h1, p, img {
            width: 100%;
        }
        h1 {
            font-size: 36px;
            font-weight: 900;
        }
        a {
            box-sizing: border-box;
            text-align: center;
            color: white;
            background-color: $hero-orange;
            padding: 1em;
            width: 200px;
            height: 52px;
            border-radius: 26px;
        }
    }
    

}

.recommendations {
    h2 {
        margin: 3% 0 3% 5vw;
    }
    background-color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: center;
    margin-bottom: 8%;

    &__card {
        width: 260px;
        height: 390px;
        border-radius: 10px;
        margin: 0 2%;
        box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.2);
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        h3 {
            color: white;
            font-size: 28px;
            position: absolute;
            bottom: 3%;
            right: 7%;
        }
    }
}
